.row{
    margin-left: 10px;
    margin-top: 15px;
    position: relative;
    top: 5px;
    color: rgb(213, 213, 86);

}
h4{
    width:fit-content;
    position: relative;
    
}


.card{
    max-height: 100px;
    margin-left: 5px;
}
.rail{
    margin-top: 10px;
}


.new-row{
    margin-left: 10px;
    margin-top: 15px;
    position: relative;
    top: 5px;
    color: rgb(213, 213, 86);

}



.list-movies{
   display: flex;
   flex-wrap:wrap;
   margin: 10px auto;
   
}

.new-rail{
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    /* align-items: flex-start; */
    position: relative;
    float: left;
    /* margin-left: 5px; */
}

.new-rail h6{
    /* float: left; */
    margin-top: 5px;
    margin-left: 6px;
    color:rgb(213, 213, 86) ;
}

.new-rail::-webkit-scrollbar{
    display:none;
}
.image-row{
    display: flex;
    flex-wrap: wrap;
}

.new-card{
    height: 120px;
    width: 90px;
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.heading h4{
    width:fit-content;
    position: relative;
    color:rgb(213, 213, 86);
    margin-left: 5px;
    
}
.search-data-{
    margin-top: 20px;
    margin-left: 5px;
}