.navbar{
    position: relative;
    top: 0px;
    height: 25px;
    width: 100%;
    background: linear-gradient(#f2df60, #555556);
    display: flex;
    justify-content: space-between;

}
.logo{
    position: relative;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 15px;

}

.avatar{
    position: relative;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;

}

.search-bar{
    display: flex;
    align-items: center;
    margin-left: -350px;
}

.search-bar .input{
    width: 100%;
    min-width: 100px;
    height: 17px;
    border: 0;
    outline: none;
    border-radius: 20px;
    background: rgb(37, 37, 37);
    font-size: 8px;
    color: white;
    
}
.search-bar .search{
    height: 17px;
    width: 100%;
    width: 22px;
    font-size: 5px;
    border-radius: 20px;
    background: rgb(37, 37, 37);
    outline: none;
    color: white;

}


.search .search-icon{
    width: 100%;
    max-width: 10px;
    align-items: center;
}